# Archivos de entorno
.env
.env*

# Dependencias
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js y Archivos de construcción
/.next/
/dist/
/build/
/out/

# Producción y Misceláneos
.DS_Store
*.pem
*.exe
*.dll
*.so
*.dylib

# Archivos de registro y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.pid
.cache
.tmp
.eslintcache

# Configuraciones del sistema y del editor
Thumbs.db
.idea/
.vscode/
.project
.classpath

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma (Opcional)
/prisma/migrations/
/prisma/.env
